body{
    background-color: #f5f7fa;
    flex-wrap: wrap;
}
    header{
    display: flex;
    margin: 30px 20px;
}
.menu{
    margin-left: 650px;
    text-decoration: none;
    border: 1px solid black;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    gap: 90px;
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    text-decoration:underline;
}
img{
    width: 100px;
    border-radius: 700px;
    margin-left: 700px;
}
.about{
    margin: 0 20px;
    text-align: center;
    margin-bottom:50px ;
}
.about h1{
    font-size: 40px;
}
#ab{
    text-align: center;
    color: blue;
}
#ab:hover{
    text-decoration: underline;
}
#para h2{
    padding-top: 10px;
    padding: 0 90px;
}
.skill h1{
    text-align: center; 
    color: blue;
}
.skill h1:hover{
    text-decoration: underline;
}
.skill-bar div{
    width: 90%;
    background-color: blue;
    height: 20px;
    border-radius: 30px;
    border: 1px solid black;
}
#html{
    width: 90%;
    text-align: center;
    color: white;
    font-size: larger;
    background-color: orange;
}
#css{
    width:80%;
    text-align: center;
    background-color: aqua;
    font-size: larger;
}
#javascript{
    width: 60%;
    text-align: center;
    background-color: yellow;
    font-size: larger;
}
#python{
    width:40%;
    text-align: center;
    color: #f5f7fa;
    font-size: larger;
    background-color: green;
}
#excel{
    width: 80%;
    text-align: center;
    color: #f5f7fa;
    font-size: larger;
}
#edu{
    text-align: center;
    color: blue;
}
#edu:hover{
    text-decoration: underline;
}
#edu p{
    text-align: left;
    color: black;
}

#pro{
    text-align: center;
    color:blue
}
#pro:hover{
    text-decoration: underline;
}
#btn {
    display: flex;
    margin-bottom: 100px;
}
h4 button {
    margin-left: 400px;
    padding: 15px;
    border-radius: 90px;
    text-decoration: none;
    
}
 button a{
    text-decoration: none;
}
button:hover{
    background-color: aquamarine;
}



    




